{% extends "layout.html" %}

{% block title %}
    Bong Joon-ho
{% endblock %}

{% block main %}

    <div class="header">
        <h1>You got...</h1>
        <h4>Bong Joon-ho!</h4>
    </div><br>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/bong.jpg" alt="ang-lee">
                You got Bong Joon-ho! Bong Joon-ho is a Korean filmmaker known for his blockbuster films such as Parasite.
                Bon Joon-ho is an acclaimed transnational director, drawing audiences to his films from around the world.
                His films maintain a focus on strong subject matter, a masterful balance of comedy and  tragedy, and a visionary directorial style.
                Many of his films deal with themes such as class struggle, our relationship with nature, powerful female figures, rebellion, and family dynamics.
                Bong Joon-ho’s films each have enigmatic twist, making his films thrilling, a little bit creepy, and definitely powerful.
            </div>
            <div class="col">
                <br><br><br><br><br><br><h4>Movie List:</h4>
                Snowpiercer (2013) <br>
                Okja (2017) <br>
                Parasite (2019) <br>
                The Host (2006) <br>
                Barking Dogs Never Bite (2000) <br>
                Mother (2009) <br>
                Memories of Murder (2003) <br>
            </div>
        </div>
    </div>

    <br>

{% endblock %}

{% block footer %}

    <!---->

{% endblock %}