{% extends "layout.html" %}

{% block title %}
    Ang Lee
{% endblock %}

{% block main %}

    <div class="header">
        <h1>You got...</h1>
        <h4>Ang Lee!</h4>
    </div><br>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/Ang-Lee-01.jpeg" alt="ang-lee">
                You got Ang Lee! Ang Lee is a Taiwanese director that has received critical acclaim across the world for his films.
                While his works are seemingly very different form each other, spanning family dramas, literary classics, wuxia genres, and queer cowboy dramas,
                they all surround the theme of “coming of age,” with the characters coming to terms with a part of themselves. Ang Lee is known for embracing taboo subjects,
                such as queer relationships, in his films as well. He is known for the incredible skill and detail he puts into each work, directing films that
                are set in various cultures around the world. Overall, Lee’s films are thrilling and heartwarming, and all of them are must-sees.
            </div>
            <div class="col">
                <br><br><br><br><br><br><h4>Movie List:</h4>
                Pushing Hands (1981) <br>
                The Wedding Banquet (1993) <br>
                Eat Drink Man Woman (1994) <br>
                Sense and Sensibility (1995) <br>
                Crouching Tiger, Hidden Dragon (2000) <br>
                The Incredible Hulk (2003) <br>
                Brokeback Mountain (2005) <br>
                Life of Pi (2012) <br>
                Gemini Man (2019) <br>
            </div>
        </div>
    </div>

    <br>

{% endblock %}

{% block footer %}

    <!---->

{% endblock %}