{% extends "layout.html" %}

{% block title %}
    Yasujiro Ozu
{% endblock %}

{% block main %}

    <div class="header">
        <h1>You got...</h1>
        <h4>Yasujiro Ozu!</h4>
    </div><br>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/ozu.jpeg" alt="ozu">
                You got Yasujiro Ozu! Ozu is known for breaking out of traditional cinematographic norms,
                creating an experience unlike any other. His work is reflective and elliptical, with several similar
                themes showing up throughout and across his works. Ozu has been described as a “master of simplicity,”
                finding depth in the mundane and meaning within routine. Ozu’s cinematographic techniques are unlike any other
                director’s, and you’re sure to find a comfort within his works of art.
            </div>
            <div class="col">
                <br><br><br><br><h4>Movie List:</h4>
                I Was Born, But...(1932) <br>
                Late Spring (1949) <br>
                Early Summer (1951) <br>
                Tokyo Story (1953) <br>
                Tokyo Twilight (1957) <br>
                Equinox Flower (1958) <br>
                Good Morning (1959) <br>
                Floating Weeds (1959) <br>
                Late Autumn (1960) <br>
            </div>
        </div>
    </div>

    <br>

{% endblock %}

{% block footer %}

    <!---->

{% endblock %}