{% extends "layout.html" %}

{% block title %}
    Wong Kar-Wai
{% endblock %}

{% block main %}

    <div class="header">
        <h1>You got...</h1>
        <h4>Wong Kar-Wai!</h4>
    </div><br>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/wkw.jpeg" alt="ang-lee">
                You got Wong Kar-Wai! WKW is a one-of-a-kind auteur who has developed a global audience for his
                compelling and visually stunning films. He is known for using vibrant colors, such as red and yellow,
                to fill the frame with an intensity that is also reflected in the music he uses. One unique aspect of
                Wong Kar-Wai cinematographic style is his use of step printing, which creates the illusion of a single or
                few people moving in slow motion while everything is moving quickly around them. In this way, WKW captures the
                hustle and bustle of Hong Kong, while forcing his audience to focus on the scenes and details of his choosing.
                Wong Kar-Wai’s films are intensely captivating, talking film and creating his own art form within it.
            </div>
            <div class="col">
                <br><br><br><br><br><br><h4>Movie List:</h4>
                As Tears Go By (1988) <br>
                Days of Being Wild (1990) <br>
                Chungking Express (1994) <br>
                Ashes of Time (1994) <br>
                Fallen Angels (1995) <br>
                Happy Together (1997) <br>
                In the Mood for Love (2000) <br>
                2046 (2004) <br>
                The Grandmaster (2013) <br>
                Gemini Man (2019) <br>
            </div>
        </div>
    </div>

    <br>

{% endblock %}

{% block footer %}

    <!---->

{% endblock %}